<!DOCTYPE html>
<html>
    <head>

         <link rel="stylesheet" href="../static/style.css">





         <title>teach me</title>

    </head>
    
     <body style="background-color: rgba 6, 192, 209, 0.6; ;">


         <div class="study-box">

         <label>teach me anything</label>

         <input id="teachtext" type="text"
         placeholder="Photosynthesis is how ">

         <button id="teachbutton">teach</button>
          </div>

          <dialog id="Popup">
               <div class="study-popup">
                         <h2 id="heading2"></h2>
                         <input id="replytext" type="text">
                         <div class="popup-buttons">
                              <button id="replybutton">Reply</button>
                              <button id="closebutton" onclick="document.getElementById('Popup').close()">Close</button>

                         </div>
               </div>
                    </dialog>




      <script src="../static/script.js"></script>




    </body>
</html>